
opencv-python==4.8.0.76
torch==2.1.0
torchvision==0.16.0
scikit-learn==1.2.2
matplotlib==3.7.1
torchsummary==1.5.1
pip-tools==7.3.0
ipykernel==6.27.0
gradio==4.13.0
google-api-python-client==2.86.0
wandb==0.16.1
memory_profiler
python-dotenv==1.0.0
